.footer__copyright {
  color: white;
  font-size: 14px;
  line-height: 16px;
  margin: 0;
  text-align: right;
  align-self: flex-end;
  justify-self: flex-end;
}

@media screen and (max-width: 767px){
  .footer__copyright {
    align-self: flex-start;
    margin-top: 48px;
    font-size: 14px;
    line-height: 14px;
  }
  
}